<%
  const self = {
    root: '../',
    uniqueselector: 'top',
    title: 'test-site',
    site_name: 'test-site',
    description: 'ディスクリプションテキスト',
    keywords: 'キーワード',
    pageurl:'https://test-site.jp/test-site',
    update:''
  }
%>
<!DOCTYPE html>
<html>
    <head>
        <%- include(self.root + '_parts/common/_head', {self}) %>
    </head>
    <body>
      <%- include(self.root + '_parts/common/header/_header', {self}) %>
      <div class="lo-Wrapper">
        <div class="lo-Wrapper_Contner">
          <%- include(self.root + '_parts/gift/_giftTest', {self}) %>
        </div>
      </div>
      <%- include(self.root + '_parts/common/footer/_footer', {self}) %>
      <%- include(self.root + '_parts/common/scripts/_scripts-Global', {self}) %>
      <%- include(self.root + '_parts/common/scripts/_scripts-Gift', {self}) %>
    </body>
</html>
